<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><ion-icon name="skull-outline"></ion-icon>   SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-padding ion-text-center">Aqui comienza todo</div>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating"><ion-icon name="key-outline"></ion-icon> Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button expand="full" [routerLink]="['/home']">Ingresar</ion-button>
      <br>
      <a href="#">Crear cuenta</a>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-text-center">Desarrollado por gvillablanca</p>
  </ion-toolbar>
</ion-footer>
