<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
     <ion-title class="ion-text-center titulo-principal"><span class="skeleton">N</span>    SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://c4.wallpaperflare.com/wallpaper/629/739/631/skull-pictures-for-desktop-wallpaper-preview.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center subtitulo">Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label class="labels">Nombre: {{ nombre }} {{ apellido }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Email: {{ email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Nivel Estudios: {{ nivelEstudios }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Fecha nacimiento: {{ fechaNacimiento }}</ion-label>
        </ion-item>
      </ion-list>
      <br>
      <ion-button  expand="full" class="labels"  [routerLink]="['/menu']">Inicio</ion-button>
      <ion-button  expand="full" class="labels" [routerLink]="['/access']">Salir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <p class="ion-text-center normal">Desarrollado por gvillablanca</p>
  </ion-toolbar>
</ion-footer>