/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content::part(background) {
    background: #d31373;
}
  
ion-content::part(scroll) {
    color: #fff;
}

@font-face {
    font-family: 'TheFrontman-j32M';
    src: url('/assets/fonts/the-frontman-font/TheFrontman-j32M.ttf');
}

@font-face {
    font-family: 'DeadFeather-n580';
    src: url('/assets/fonts/dead-feather-font/DeadFeather-n580.ttf');
}

@font-face {
    font-family: 'Skull';
    src: url('/assets/fonts/skull-font/UntitledRegular-jJ6G.otf');
}

@font-face {
    font-family: 'BrookFree';
    src: url('/assets/fonts/brook-font/BrookFree-Yz2y2.ttf');
}

@font-face {
    font-family: 'Witch';
    src: url('/assets/fonts/witchkin-font/WitchkinFree-axXAE.ttf');
}