.titulo-principal{
    font-family: 'TheFrontman-j32M';
  }
  
  .subtitulo{
    font-family: 'DeadFeather-n580';
    font-size: 50px;
  }
  
  .skeleton{
    font-family: 'Skull';
    font-size: 50px;
  }
  
  .normal{
    font-family: 'BrookFree';
  }
  
  .labels{
    font-family: 'Witch';
  }